*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

table{
    border: none;
}

table td {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
}

table th {
    text-decoration: underline;
}

table td input {
    text-align: center;
    background-color: inherit;
    border: none;
    font-size: inherit;
}

#edit {
    background-color: rgb(48, 200, 213);
}

#delete {
    background-color: #ff004f;
    color: white;
    border: 2px solid #ff004f;
}

.util {
    background-color: rgb(48, 200, 213);
    justify-self: center;
    box-sizing: border-box;
}

.btn {

    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 1em;
    padding: 3px 5px;
    margin: 3px 5px;
    transition: background-color 0.2s;
    border: 0px solid black;
    text-decoration: none;
    color: black;
    border: 2px solid rgb(48, 200, 213);
}

.btn a {
    text-decoration: none;
    color: black;
}

.btn:hover {
    background-color: inherit;
    border: 2px solid rgb(48, 200, 213);
}
